<div class="playback row">
    <div class="col-md-5 album-cover">
        <img id="cover-img" />
        <div class="cover-circle">
            <i id="player-icon" class="fa"></i>
        </div>
    </div>
    <div class="col-md-7 song-details">
        <div class="row">
            <div class="col-md-12">
                <h1 class="win-h1" id="song-title"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <i class="fa fa-user"></i><h6 class="win-h6" id="song-artist"></h6>
                <h6 class="win-h6 separator">|</h6>
                <i class="fa fa-dot-circle-o"></i><h6 class="win-h6" id="song-album"></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <audio id="player" loop="loop" controls="controls"></audio>
            </div>
        </div>
        <div class="row">
            <div id="lyrics-border" class="col-md-12">
                <div id="lyrics-container"></div>
            </div>
        </div>
    </div>
</div>