.upload-module .album-cover {
    margin: 0 50px;
    width: 600px !important;
}

.upload-module .album-cover > #cover-img {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}